* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: monospace;
}

body {
    max-width: 375px;
    padding: 1rem;
    margin: auto;

    display: grid;
    gap: 2rem;
}