.header {
    
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .titulo {
    color: rgb(25, 25, 25);
}

.header .btn-github {
    text-decoration: none;
    color: white;
    padding: 0.5rem 2rem;
    background-color: rgb(3, 2, 6);
    border-radius: 3px;
}